.header-image {
    width: 100%;
    height: 500px;
}

.h-line {
    height: 0.5px;
    width: auto;
    background-color: #1d1d1d;
}

.h-line2 {
    height: 2px;
    width: auto;
    background-color: #ffffff;
    /* margin-left: 100px; */
}

.header1 {
    font-weight: 400;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 50px;
}


.para1 {
    width: 500px;
    margin-left: 100px;
    color: #6d6c6c;
}

.collection {
    background-color: #202020;
    padding-bottom: 60px;
}

.top {
    margin-left: 100px;
    margin-right: 100px;

}
.top-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 

}

.search {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding-left: 10px;
    border-radius: 5px;
    width: 300px;
    color: #6d6c6c;
}

.search-icon {
    margin-right: 10px;
    margin-top: 1px;
}

h2 {
    font-weight: 400;
    font-size: 30px;
    
    
}
.search-input {
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    color: #ffffff;
    background-color: #202020;
}
.search-input:focus {
    outline: none;
    border: none;
}

.movie-thumb {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-left:100px;
    margin-right: 100px;
    flex-wrap: wrap;

}

.movies {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-right: 50px;
    background-color: #3d3d3d;
}
.movie-name {
    font-size: 25px;
    width: 340px;
}
.movie-desc {
    font-size: 18px;
    width: 340px;
    
}
.movie-images {
    height: auto;
    width :350px;
    
}
.description {
    padding-left: 15px;
    height: 170px;
    width: 330px;
    margin-right: 15px;
}

@media screen and (350px <= width<= 830px) {
    .header1 {
        text-align: left;
        margin-left: 50px;
        font-size: 36px;
    }

    .para1 {
        text-align: left;
        margin-left: 50px;
        width: 70%;
    }

    .top {
        align-items: left;
        text-align: left;
        margin-left: 50px;
    }

    .search {
        justify-content: center;
        width: 60%;
        margin-bottom: 20px;
        
    }
}
/* Responsive for Mobile */
@media screen and (max-width: 350px) {
    .search {
        width: 80%;
        padding-left: 0x;
    }
    .header1 {
        text-align: left;
        margin: 50px auto 20px 20px;
        font-size: 36px;
        padding: 5px;
    }
    .para1 {
        text-align: left;
        margin-left: 20px;
        padding: 5px;
        width: 400px;
    }
    .header-image {
        width: 500px;
        height: 300px;
    }
    .top {
        align-items: left;
        text-align: left;
        margin-left: 10px;
        padding: 20px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .collection {
        background-color: #202020;
        width: 500px;
        align-items: left;
        text-align: left;
        padding: 0px;
        margin-right: 0px;
        padding-right: 0px;
        
    }
    .paragraph {
        width: 500px;
    }

  
    .movie-images {
        height: auto;
        width :400px;
        
    }
    .movie-thumb {
        margin-left: 30px;
        margin-right: 0px;
    }
    .h-line2 {
        height: 2px;
        width: 83%;
        background-color: #ffffff;
        margin-top: 30px;
    }
    
}